In [86]:
# data imported
data = {
    "name":["Harshad","Shubham","Rahul","Jay","Rohan","Soham","Tejas","Saket"],
    "age":[23,22,34,21,22,43,22,20],
    "marks":[43,56,76,89,99,76,87,33]
}

In [ ]:
# 2.Series and DataFrame
""" Series → One-dimensional labeled array.
 DataFrame → Two-dimensional labeled data structure (like Excel table)."""

In [87]:
#series
import pandas as pd
# From list
s1 = pd.Series([10, 20, 30, 40])
print(s1)
# From dictionary
s2 = pd.Series({"a": 100, "b": 200, "c": 300})
print(s2)

0    10
1    20
2    30
3    40
dtype: int64
a    100
b    200
c    300
dtype: int64

In [84]:
#dataFrame
import pandas as pd

df = pd.DataFrame(data)
print(df)

      name   age  marks
0  Harshad  23.0     43
1  Shubham  22.0     56
2    Rahul  34.0     76
3      Jay  21.0     89
4    Rohan  22.0     99
5    Soham  43.0     76
6    Tejas   NaN     87
7    Saket  20.0     33

In [ ]:
# 3. Indexing,Selection,Filtering
""" Pandas provides powerful ways to select rows and columns.
 Main methods:
1. [] → Select column(s) or row slices
2. .loc[] → Label-based selection
3. .iloc[] → Position-based selection
4. Boolean/conditional filtering"""

In [78]:
# A) Selecting columns
import pandas as pd



df = pd.DataFrame(data)

#selcting single column
print(df["name"]) #or print(df[["name"]])
print("\n")
#selecting multiple rows
print(df[["name","age","marks"]])

0    Harshad
1    Shubham
2      Rahul
3        Jay
4      Rohan
5      Soham
6      Tejas
7      Saket
Name: name, dtype: object


      name  age  marks
0  Harshad   23     43
1  Shubham   22     56
2    Rahul   34     76
3      Jay   21     89
4    Rohan   22     99
5    Soham   43     76
6    Tejas   22     87
7    Saket   20     33

In [79]:
# B) selecting rows with slicing
import pandas as pd


print(df[1:6])

      name  age  marks
1  Shubham   22     56
2    Rahul   34     76
3      Jay   21     89
4    Rohan   22     99
5    Soham   43     76

In [46]:
# C) Using .loc[] (label-based)

import pandas as pd

#single row by index label
print(df.loc[1])
print("\n")

#multiple rows
print(df.loc[[1,3]])
print("\n")

#Rows and column selection
print(df.loc[0:2, ["name","marks"]])

name     Shubham
age           22
marks         56
Name: 1, dtype: object


      name  age  marks
1  Shubham   22     56
3      Jay   21     89


      name  marks
0  Harshad     43
1  Shubham     56
2    Rahul     76

In [47]:
# D) Using iloc[] (position-based0)
print(df)
print("\n")

print(df.iloc[1])
print("\n")


print(df.iloc[1:4, 1:4])

      name  age  marks
0  Harshad   23     43
1  Shubham   22     56
2    Rahul   34     76
3      Jay   21     89
4    Rohan   22     99
5    Soham   43     76
6    Tejas   22     87
7    Saket   20     33


name     Shubham
age           22
marks         56
Name: 1, dtype: object


   age  marks
1   22     56
2   34     76
3   21     89

In [48]:
# E) Boolean Indexing

#student with marks > 80
print(df[df["marks"] > 80])
print("\n")

#students with age<25
print(df[df["age"] <= 23])

    name  age  marks
3    Jay   21     89
4  Rohan   22     99
6  Tejas   22     87


      name  age  marks
0  Harshad   23     43
1  Shubham   22     56
3      Jay   21     89
4    Rohan   22     99
6    Tejas   22     87
7    Saket   20     33

In [52]:
# F) isin() and query()

#isin()
print(df[df["name"].isin(["Harsha","Shubham"])])
print("\n")

#query()
print(df.query("marks >= 90"))

      name  age  marks
1  Shubham   22     56


    name  age  marks
4  Rohan   22     99

In [ ]:
# 4. Data Input and Output

"""
    Pandas makes it easy to read data from external files (CSV, Excel, JSON, SQL, etc.) 
    and write/export data back.
"""

#Reading Data
    pd.read_csv("file.csv")
    pd.read_excel("file.xlsx")
    pd.read_json("file.json")
    pd.read_sql(query, connection)

#Writing Data
    df.to_csv("file.csv")
    df.to_excel("file.xlsx")
    df.to_json("file.json")

In [ ]:
# 5. Data Exploration in pandas
"""
    Once data is loaded into a DataFrame, the first step in analysis is exploration:
        Checking the first few records (preview)
        Understanding shape (rows × columns)
        Checking data types
        Finding missing values
        Getting summary statistics
            This is called Exploratory Data Analysis (EDA).

"""

In [58]:
# A). Head and Tail

#head
print(df.head()) # Gives 1st five rows
print("\n")
print(df.head(7)) #for custom starting rows
print("\n")

#Tail
print(df.tail()) # Gives last five rows
print("\n")
print(df.tail(4)) #Gives last custom rows

      name  age  marks
0  Harshad   23     43
1  Shubham   22     56
2    Rahul   34     76
3      Jay   21     89
4    Rohan   22     99


      name  age  marks
0  Harshad   23     43
1  Shubham   22     56
2    Rahul   34     76
3      Jay   21     89
4    Rohan   22     99
5    Soham   43     76
6    Tejas   22     87


    name  age  marks
3    Jay   21     89
4  Rohan   22     99
5  Soham   43     76
6  Tejas   22     87
7  Saket   20     33


    name  age  marks
4  Rohan   22     99
5  Soham   43     76
6  Tejas   22     87
7  Saket   20     33

In [61]:
# B). Shape,Columns,Index

#Shape
print(df.shape) #Gives shape of data
print("\n")

#Coluns
print(df.columns) #Gives names of columns in list
print("\n")

#Indexes
print(df.index)

(8, 3)


Index(['name', 'age', 'marks'], dtype='object')


RangeIndex(start=0, stop=8, step=1)

In [62]:
# C). Data Types

print(df.dtypes)

name     object
age       int64
marks     int64
dtype: object

In [63]:
# D) Info Summary
#Shows the summary

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8 non-null      object
 1   age     8 non-null      int64
 2   marks   8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes
None

In [64]:
# E). Describe (Statistical summary)
#Only numerical columns are shown by default

print(df.describe())

             age      marks
count   8.000000   8.000000
mean   25.875000  69.875000
std     8.201698  23.473009
min    20.000000  33.000000
25%    21.750000  52.750000
50%    22.000000  76.000000
75%    25.750000  87.500000
max    43.000000  99.000000

In [66]:
# F) Quick Stats

print(df["marks"].mean()) # Average Marks
print(df["marks"].max()) # Max Marks
print(df["marks"].min()) # Min Marks
print(df["marks"].std()) # Standard Deviation
print(df["marks"].sum()) # Sum of Marks

69.875
99
33
23.473008815598032
559

In [ ]:
# 6. Data Cleaning in pandas
"""
    Raw data is often messy (missing values, duplicates, wrong column names, mixed data types). 
    Pandas provides tools to clean and prepare the data before analysis.
    Key operations:
        1. Handling missing values
        2. Handling duplicates
        3. Renaming columns
        4. Changing data types

"""

In [89]:
# A). Handling Missing Values

#check missing values
print(df.isnull())
print("\n")

#check misssing values per column
print(df.isnull().sum())
print("\n")

#drops rows with missing values
print(df.dropna())
print("\n")

#Fill missing values with Zeros
print(df.fillna(0))
print("\n")

#fill with column mean (Average of column)
print(df["marks"].fillna(df["marks"].mean(), inplace=True))
print(df)

    name    age  marks
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6  False   True  False
7  False  False  False


name     0
age      1
marks    0
dtype: int64


      name   age  marks
0  Harshad  23.0     43
1  Shubham  22.0     56
2    Rahul  34.0     76
3      Jay  21.0     89
4    Rohan  22.0     99
5    Soham  43.0     76
7    Saket  20.0     33


      name   age  marks
0  Harshad  23.0     43
1  Shubham  22.0     56
2    Rahul  34.0     76
3      Jay  21.0     89
4    Rohan  22.0     99
5    Soham  43.0     76
6    Tejas   0.0     87
7    Saket  20.0     33


None
      name   age  marks
0  Harshad  23.0     43
1  Shubham  22.0     56
2    Rahul  34.0     76
3      Jay  21.0     89
4    Rohan  22.0     99
5    Soham  43.0     76
6    Tejas   NaN     87
7    Saket  20.0     33

C:\Users\shubham ekhande\AppData\Local\Temp\ipykernel_3356\35459283.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  print(df["marks"].fillna(df["marks"].mean(), inplace=True))

In [94]:
# B). Handling Duplicates
import numpy as np
data = {
    "name":["Harshad","Harshad","Shubham","Rahul","Jay","Rohan","Soham","Tejas","Saket"],
    "age":[23,23,22,34,21,22,43,22,20],
    "marks":[43,43,56,76,89,99,76,87,33]
}
df = pd.DataFrame(data)
#check duplicates
print(df.duplicated())
print("\n")

#remove duplicates
print(df.drop_duplicates())

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool


      name  age  marks
0  Harshad   23     43
2  Shubham   22     56
3    Rahul   34     76
4      Jay   21     89
5    Rohan   22     99
6    Soham   43     76
7    Tejas   22     87
8    Saket   20     33

In [105]:
# C). Renaming Columns
df.rename(columns={"name": "student_name", "marks": "score"}, inplace=True)
print(df)

  stud_name  age  score
0   Harshad   23   43.0
1   Harshad   23   43.0
2   Shubham   22   56.0
3     Rahul   34   76.0
4       Jay   21   89.0
5     Rohan   22   99.0
6     Soham   43   76.0
7     Tejas   22   87.0
8     Saket   20   33.0

In [102]:
# D) Changing Data Types
# Convert Age from float to int
df["score"] = df["score"].astype("float")
print(df.dtypes)

stud_name     object
age            int32
score        float64
dtype: object

In [109]:
# E). Replacing Values

#Replace Single Value
df["stud_name"] = df["stud_name"].replace("Soham","Amit")
print(df)
print("\n")

#Replace Multiple Values
df["score"] = df["score"].replace({60,70,80,90,58,78,67,65})
print(df)

  stud_name  age  score
0   Harshad   23   43.0
1   Harshad   23   43.0
2   Shubham   22   56.0
3     Rahul   34   76.0
4       Jay   21   89.0
5     Rohan   22   99.0
6      Amit   43   76.0
7     Tejas   22   87.0
8     Saket   20   33.0


  stud_name  age  score
0   Harshad   23   43.0
1   Harshad   23   43.0
2   Shubham   22   56.0
3     Rahul   34   76.0
4       Jay   21   89.0
5     Rohan   22   99.0
6      Amit   43   76.0
7     Tejas   22   87.0
8     Saket   20   33.0

C:\Users\shubham ekhande\AppData\Local\Temp\ipykernel_3356\2712729231.py:9: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df["score"] = df["score"].replace({60,70,80,90,58,78,67,65})