In [2]:
import pandas as pd

In [4]:
#main dataset
data = {
    "name":["Harshad","Shubham","Rahul","Jay","Rohan","Soham","Tejas","Saket"],
    "age":[23,22,34,21,22,43,22,20],
    "marks":[43,56,76,89,99,76,87,33]
}

df = pd.DataFrame(data)

In [ ]:
"""
Theory
    After cleaning, we often need to manipulate data:
         Sorting rows/columns
         Adding or removing columns
         Reindexing
         Applying functions
            This helps in transforming raw data into useful structures.
"""

In [28]:
# A). Sorting

#Ascending order
print(df.sort_values(by="name")) # by default sorted in ascending order
print("\n")

#descending Order
print(df.sort_values(by = "age", ascending = False)) #Sorted in descending order
print("\n")

#Sorting multiple columns
print(df.sort_values(by = ["name","age"],ascending = [False,True]))

      name  age  marks
0  Harshad   23     43
3      Jay   21     89
2    Rahul   34     76
4    Rohan   22     99
7    Saket   20     33
1  Shubham   22     56
5    Soham   43     76
6    Tejas   22     87


      name  age  marks
5    Soham   43     76
2    Rahul   34     76
0  Harshad   23     43
1  Shubham   22     56
4    Rohan   22     99
6    Tejas   22     87
3      Jay   21     89
7    Saket   20     33


      name  age  marks
6    Tejas   22     87
5    Soham   43     76
1  Shubham   22     56
7    Saket   20     33
4    Rohan   22     99
2    Rahul   34     76
3      Jay   21     89
0  Harshad   23     43

In [38]:
# B). Adding column

#Adding new column
df["result"] = ["pass","pass","pass","pass","pass","pass","pass","fail"]
print(df)
print("\n")

#Adding calculated column
df["percentage"] = df["marks"] / 100 * 100
print(df)

      name  age  marks result
0  Harshad   23     43   pass
1  Shubham   22     56   pass
2    Rahul   34     76   pass
3      Jay   21     89   pass
4    Rohan   22     99   pass
5    Soham   43     76   pass
6    Tejas   22     87   pass
7    Saket   20     33   fail


      name  age  marks result  percentage
0  Harshad   23     43   pass        43.0
1  Shubham   22     56   pass        56.0
2    Rahul   34     76   pass        76.0
3      Jay   21     89   pass        89.0
4    Rohan   22     99   pass        99.0
5    Soham   43     76   pass        76.0
6    Tejas   22     87   pass        87.0
7    Saket   20     33   fail        33.0

In [39]:
# C). Removing Rows or Columns

#Drop column
df = df.drop("percentage",axis=1)
print(df)
print("\n")

#Drop row
df = df.drop(3,axis=0)
print(df)

      name  age  marks result
0  Harshad   23     43   pass
1  Shubham   22     56   pass
2    Rahul   34     76   pass
3      Jay   21     89   pass
4    Rohan   22     99   pass
5    Soham   43     76   pass
6    Tejas   22     87   pass
7    Saket   20     33   fail


      name  age  marks result
0  Harshad   23     43   pass
1  Shubham   22     56   pass
2    Rahul   34     76   pass
4    Rohan   22     99   pass
5    Soham   43     76   pass
6    Tejas   22     87   pass
7    Saket   20     33   fail

In [40]:
# D). Reindexing

df2 = df.reindex([2,0,1])
print(df2)

      name  age  marks result
2    Rahul   34     76   pass
0  Harshad   23     43   pass
1  Shubham   22     56   pass

In [65]:
# E). Applying function

#Applying function on column
df["marks"] = df["marks"].apply(lambda x : x - 1)
print(df)
print("\n")

#map function (on series or on single row/data)
df["name"] = df["name"].map(str.lower)
print(df)
print("\n")

#Applymap function (for DataFrame or 2d data)
print(df[["age","marks"]].applymap(lambda x: x * 2 ))
#or print(df[["age","marks"]]*2)

      name  age  marks result
0  harshad   23     35   pass
1  shubham   22     48   pass
2    rahul   34     68   pass
4    rohan   22     91   pass
5    soham   43     68   pass
6    tejas   22     79   pass
7    saket   20     25   fail


      name  age  marks result
0  harshad   23     35   pass
1  shubham   22     48   pass
2    rahul   34     68   pass
4    rohan   22     91   pass
5    soham   43     68   pass
6    tejas   22     79   pass
7    saket   20     25   fail


   age  marks
0   46     70
1   44     96
2   68    136
4   44    182
5   86    136
6   44    158
7   40     50

C:\Users\shubham ekhande\AppData\Local\Temp\ipykernel_26676\3371194950.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df[["age","marks"]].applymap(lambda x: x * 2 ))

In [ ]:
#Grouping and Aggregation in pandas

In [ ]:
"""
    Theory
         Grouping = Splitting data into groups based on a condition.
         Aggregation = Applying summary functions (sum, mean, count, etc.) on groups.
         Useful for summarizing and analyzing categories.
    Main functions:
         groupby() → split data into groups
         agg() → multiple aggregations
         pivot_table() → Excel-like pivot table
"""

In [66]:
import pandas as pd
data = {
"Department": ["IT", "IT", "HR", "HR", "Finance", "Finance"],
"Employee": ["Amit", "Riya", "Karan", "Meera", "Sohan", "Tina"],
"Salary": [60000, 65000, 50000, 52000, 70000, 72000],
"Bonus": [5000, 6000, 4000, 4500, 7000, 7500]
}
df = pd.DataFrame(data)
print(df)

  Department Employee  Salary  Bonus
0         IT     Amit   60000   5000
1         IT     Riya   65000   6000
2         HR    Karan   50000   4000
3         HR    Meera   52000   4500
4    Finance    Sohan   70000   7000
5    Finance     Tina   72000   7500

In [69]:
# A). Grouping by column

#Average salary by dept
print(df.groupby("Department")["Salary"].max())

Department
Finance    72000
HR         52000
IT         65000
Name: Salary, dtype: int64

In [70]:
# B) Multiple Aggregation
#here we can apply multiple methods in one 
print(df.groupby("Department").agg({
    "Salary" : ["max", "min", "mean"],
    "Bonus" : "sum"}))

           Salary                  Bonus
              max    min     mean    sum
Department
Finance     72000  70000  71000.0  14500
HR          52000  50000  51000.0   8500
IT          65000  60000  62500.0  11000

In [76]:
# C). Grouping by multiple Columns
#Group by dept and salary
print(df.groupby(["Department","Salary"]).size())

Department  Salary
Finance     70000     1
            72000     1
HR          50000     1
            52000     1
IT          60000     1
            65000     1
dtype: int64

In [81]:
# D). Using pivot Tables

#Average Salary by dept
pivot = df.pivot_table(values = "Salary", index = "Department", aggfunc="mean")
print(pivot)
print("\n")

#Multiple values in pivot
pivote2 = df.pivot_table(values = ["Salary","Bonus"],
index="Department",aggfunc={"Salary" : "mean","Bonus" : "sum"})
print(pivote2)

             Salary
Department
Finance     71000.0
HR          51000.0
IT          62500.0


            Bonus   Salary
Department
Finance     14500  71000.0
HR           8500  51000.0
IT          11000  62500.0

In [84]:
# E). Group Filtering
grp = df.groupby("Department").filter(lambda x: x["Salary"].mean() > 60000)
print(grp)

  Department Employee  Salary  Bonus
0         IT     Amit   60000   5000
1         IT     Riya   65000   6000
4    Finance    Sohan   70000   7000
5    Finance     Tina   72000   7500

In [ ]:
#Merging, Joining and Concatenation in pandas
"""
    Theory
        In real-world projects, data often comes from multiple sources.
        We need to combine/join tables like in SQL.
        Pandas provides:
            1. concat() → Stack DataFrames (row-wise or column-wise).
            2. merge() → SQL-like join (inner, left, right, outer).
            3. join() → Join using index.
"""

In [85]:
import pandas as pd
df1 = pd.DataFrame({
"ID": [1, 2, 3],
"Name": ["Amit", "Riya", "Karan"]
})
df2 = pd.DataFrame({
"ID": [4, 5],
"Name": ["Meera", "Sohan"]
})

In [90]:
# A) Concatenation
conc = pd.concat([df1,df2], ignore_index = True) # ignore_index = True is, To reset index
print(conc)

   ID   Name
0   1   Amit
1   2   Riya
2   3  Karan
3   4  Meera
4   5  Sohan

In [92]:
# B) Merge(SQL-like joins)

employees = pd.DataFrame({
"EmpID": [1, 2, 3, 4],
"Name": ["Amit", "Riya", "Karan", "Meera"],
"DeptID": [101, 102, 101, 103]
})
departments = pd.DataFrame({
"DeptID": [101, 102, 104],
"Department": ["IT", "HR", "Finance"]
})

In [93]:
# Inner Join
print(pd.merge(employees, departments, on="DeptID", how="inner"))

   EmpID   Name  DeptID Department
0      1   Amit     101         IT
1      2   Riya     102         HR
2      3  Karan     101         IT

In [94]:
# Left Join
print(pd.merge(employees, departments, on="DeptID", how="left"))

   EmpID   Name  DeptID Department
0      1   Amit     101         IT
1      2   Riya     102         HR
2      3  Karan     101         IT
3      4  Meera     103        NaN

In [95]:
# Right Join
print(pd.merge(employees, departments, on="DeptID", how="right"))

   EmpID   Name  DeptID Department
0    1.0   Amit     101         IT
1    3.0  Karan     101         IT
2    2.0   Riya     102         HR
3    NaN    NaN     104    Finance

In [96]:
# Outer Join
print(pd.merge(employees, departments, on="DeptID", how="outer"))

   EmpID   Name  DeptID Department
0    1.0   Amit     101         IT
1    3.0  Karan     101         IT
2    2.0   Riya     102         HR
3    4.0  Meera     103        NaN
4    NaN    NaN     104    Finance

In [98]:
# C) Join (using index)

df_left = pd.DataFrame({"A": [1, 2, 3]}, index=["a", "b", "c"])
df_right = pd.DataFrame({"B": [4, 5, 6]}, index=["a", "b", "d"])

In [101]:
# Join by index
print(df_left.join(df_right, how="outer"))

     A    B
a  1.0  4.0
b  2.0  5.0
c  3.0  NaN
d  NaN  6.0