In [11]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [12]:
df = pd.read_csv("house.csv")

In [13]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [14]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity', 'median_house_value'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   ocean_proximity     20640 non-null  object
 9   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [20]:
df = df.dropna()

In [91]:
## Model Building
x = df[['total_rooms']]
y = df['median_house_value']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(x_train,y_train)

y_pred = model.predict(x_test)

print("Slope (b1):", model.coef_)
print("Intercept (b0):", model.intercept_)
print("R²:", r2_score(y_test, y_pred))

Slope (b1): [7.26885901]
Intercept (b0): 187554.24317975523
R²: 0.014736667438976503

In [92]:
## prediction
pred = pd.DataFrame([{'total_rooms' : 250}])
print("Price of house with 250 Rooms:",int(model.predict(pred)[0]))

Price of house with 250 Rooms: 189371

In [93]:
## Multi_linear_regression
X_multi = df[['housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income']]
#X = df[features]
y_multi = df['median_house_value']

In [94]:
X_train,X_test,y_train,y_test = train_test_split(X_multi, y_multi, test_size = 0.2)

multi_model = LinearRegression()
multi_model.fit(X_train,y_train)

y_pred_m = multi_model.predict(X_test)

print(r2_score(y_test, y_pred_m))

0.577278839534679

In [95]:
features = pd.DataFrame([{'housing_median_age' : 30 , 
              'total_rooms' : 1500, 
              'total_bedrooms' : 500, 
              'population' : 2000, 
              'households' : 700, 
              'median_income' : 8.3225
             }])

print("Predicting House Price: ",int(multi_model.predict(features)[0]))

Predicting House Price:  442649